# Eclipse
.classpath
.project
.checkstyle
.settings/
*.launch

# Intellij
.idea/
*.iml
*.iws

# Netbeans
nb-configuration.xml

# Mac
.DS_Store

# Maven
log/
target/
eLongImport/data/hotel-*.xml
elong-import/data/hotel-*.xml

# http://maven.apache.org/surefire/maven-surefire-plugin/test-mojo.html#runOrder
.surefire-*

# GWT
*/.gwt
*/src/main/webapp/WEB-INF/classes/

# Env
*.log

# Git
*.orig

# Jenv
.java-version

# Jrebel
rebel*.xml
